:host {
    display: block;
    min-height: 100vh;
    color: #172a27;
    background: #fff;
}

.store-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

.store-content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    flex: 1;
}